<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fizz Buzz Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body class="row align-items-center">
    <div class = "text-center">
        <form name="loginform" id="loginform" onsubmit="return redirect()">
            <h1 class="h3 mb-3 font-weight-normal">Welcome to the FizzBuzz Game</h1>
            <label for="userId">USER ID:</label>
            <input type="string" id="userId" name="userId"><br>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="storeId()" value="Submit">Sign in</button>
        </form>
    </div>
</body>



<script>
    function redirect()
    {
        window.location.replace("game.html");
        return false;
    }
    function storeId()
    {
        localStorage["userId"] = document.getElementById("userId").value;
    }
</script>
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>